# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = false

[*.*]
indent_style = space
indent_size = 4
end_of_line = lf

[*.{html,toml,md}]
end_of_line = crlf


[*.css]
indent_size = 2
